@font-face {
    font-family: 'CustomFont';
    src: url('fonts/abcd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', 'Open Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

#flashcard-container {
    text-align: center;
    margin-top: 20px;
}

#set-selection-container {
    margin-bottom: 20px;
}

#next-button,
#flip-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#flashcard {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    perspective: 1000px;
}

#flashcard-front,
#flashcard-back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

#flashcard-front {
    background-color: #fff;
}

#flashcard-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

.custom-font {
    font-family: 'CustomFont', Arial, sans-serif;
}

/* Media queries for mobile responsiveness */
@media (max-width: 600px) {
    #flashcard {
        width: 80vw;
        height: 50vh;
    }
}
